.d_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2rem;
}

.ftco_section {
  padding: 2em 0;
}
.pb_1,
.py_1 {
  padding-bottom: 0.25rem !important;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.justify_content_center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text_center {
  text-align: center !important;
}
.form_group .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: #0078a5;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}
.form_group .icon span {
  color: #fff;
}

.w_100 {
  width: 100% !important;
}
.align_items_center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.rounded_left {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.justify_content_end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.rounded {
  border-radius: 0.25rem !important;
}

.btn_primary {
  color: #fff;
  background-color: #0078a5;
  border-color: #0078a5;
}
.btn_primary:hover {
  color: #fff;
  background-color: #3f3dbb;
  border-color: #0062cc;
}
.btn_primary:focus,
.btn_primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.col_md_7,
.col_lg_5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col_md_7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media (min-width: 992px) {
  .col_lg_5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

.form_control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.mt_1,
.my_1 {
  margin-top: 0.25rem !important;
}

.p_1 {
  padding: 0.25rem !important;
}

@media (min-width: 768px) {
  .p_md_5 {
    padding: 3rem !important;
  }
}

.main_div_container {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;

  background-color: #0078a5;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;

  color: gray;
}

h2 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  color: #000;
}

/* .login_wrap {
  margin-top: 40%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  position: relative;
  background: #9869a7;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
} */

.login_wrap {
  margin-top: 20%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  position: relative;
  background: #0f4462;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.form_group {
  position: relative;
}
.form_group .icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  background: #0078a5;
  font-size: 20px;
  border-radius: 5px 0 0 5px;
}
.form_group .icon span {
  color: #fff;
}

.form_control {
  height: 40px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 60px;
}

.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 6px 15px;
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn_primary {
  background: #0078a5 !important;
  border: 1px solid #0078a5 !important;
  color: #ffffff !important;
}
.btn.btn_primary:hover {
  background: #fff !important;
  border: 1px solid #fbc5df !important;
  color: #0078a5 !important;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.mg_bot {
  margin-bottom: 20px;
}
.logoMainadmin {
  width: 12%;
  margin: auto;
  background-color: #fff !important;
  border-radius: 0.4em;
}

@media screen and (max-width: 767px) {
  .logoMainadmin{
    width: 40%;
  }
}
