::-webkit-scrollbar {
    width: 4px;
    background: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #616161;
  }

  
  
  .dm-sans-ntext {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .caprasimo {
    font-family: "Caprasimo", serif;
    font-weight: 200;
    font-style: normal;
  }
  

