/* body{
  height: 100%;
  width: 100%;
  background-color: #0078a5 ;
} */
/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.msgnote{
  color: #bb0909;
  font-weight: 500;
  display: none;
}

@media (max-width: 767.98px) {
 
  .msgnote{
    display: block;
  }
}